<div class="flex flex-col min-h-screen">
  <header class="flex flex-row justify-between px-6 py-3 bg-green-100">
    <div class="flex flex-row items-center">
      <a href="#" class="flex items-center mr-5">
        <img src="assets/images/logo.svg" alt="Ecommerce logo" class="mr-3 h-8"/>
        <span class="self-center text-xl font-semibold whitespace-nowrap">Ecommerce</span>
      </a>
      <form class="ml-5" onsubmit="return false;" method="GET">
        <input type="search" id="default-search" class="px-4 py-3 mr-3 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for data..." required />
        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
      </form>
    </div>
    <a href="shopping-detail.html" class="flex items-center">
      <div class="total mr-2"><span class="bg-amber-500 px-3 py-2 rounded-l-full">19.22</span> <span class="bg-blue-400 px-3 py-2 rounded-r-full">2</span> </div>
      <img src="assets/images/cart.svg" alt="Ecommerce logo" class="mr-3 h-8"/>
    </a>
  </header>

  <div class="flex flex-row flex-grow">
    <aside class="px-10 whitespace-nowrap pt-10 bg-gray-100">
        <ul>
          <li class="mb-3">
            <a routerLink="/category/1" class="hover:text-gray-500">Books</a>
          </li>
          <li class="mb-3">
            <a routerLink="/category/2" class="hover:text-gray-500">Coffee Mugs</a>
          </li>
        </ul>
    </aside>
    <div>
      <!-- MAIN CONTENT -->
      <router-outlet></router-outlet>
    </div>
  </div>

  <footer class="w-full bg-gray-900 text-white py-3">
    <ul class="flex flex-row items-center justify-center space-x-10">
      <li>
        <a href="#" class="hover:text-amber-500">About Us</a>
      </li>
      <li>
        <a href="#" class="hover:text-amber-500">Contact Us</a>
      </li>
      <li>
        <a href="#" class="hover:text-amber-500">Help</a>
      </li>
    </ul>
  </footer>
</div>
