<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-4 lg:max-w-7xl lg:px-8">
      <h1 class="mb-5 font-semibold text-xl">Products</h1>
  
      <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">
        <a routerLink="/products/{{curProduct.id}}" class="group mr-10 mb-5" *ngFor="let curProduct of products">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7">
                <img src="{{curProduct.imageUrl}}" alt="Tall slender porcelain bottle with natural clay textured body and cork stopper." class="h-full w-full object-cover object-center group-hover:opacity-75"/>
            </div>
            <h3 class="mt-4 text-sm text-gray-700 whitespace-nowrap">{{curProduct.name}}</h3>
            <p class="my-3 text-lg font-medium text-gray-900">{{curProduct.unitPrice | currency: 'USD'}}</p>
        </a>
      </div>
    </div>
  </div>

<div *ngIf="products.length == 0" class="p-4 mx-10 text-sm text-yellow-500 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
    <span class="font-medium">Cannot found products!!! </span>
</div>